body {
  background: #f8f8f8;
  color: #444;
  font-family: 'Segoe UI', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

p {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  letter-spacing: 2px;
  color: #0fdf31;
  text-shadow: 1px 1px 8px #fff, 0 2px 8px #e0e0e0;
}
